# idea ignore
.idea/
*.ipr
*.iml
*.iws

biligo/
.vscode/

*.swp

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go

_testmain.go

directory/directory
pitchfork/pitchfork
proxy/proxy
store/store

*.[568vq]
[568vq].out

_obj
_test
*.o
*.a
*.so

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*debug.test

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
.test
iprepo.txt


bazel-bin
bazel-genfiles
bazel-greenhouse
bazel-out
bazel-testlogs
bazel-test
_output
